@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --pizza-red: #b22222;
  --pizza-dark-red: #8b0000;
  --pizza-gold: #ffd27f;
  --pizza-beige: #f7e7ce;
  --pizza-wood: #3f2f1d;
  --pizza-bg: #fffaf3;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Merienda', cursive;
  background: var(--pizza-bg);
}

a {
  text-decoration: none;
}